/* Base */
@import './base/reset.css';
@import './base/color.css';
@import './base/typography.css';

/* Layout */
@import './layout/navigation.css';

/* Pages */
@import './pages/home.css';
@import './pages/destination.css';
@import './pages/destination.css';
@import './pages/crew.css';
@import './pages/technology.css';

/* Utils */
@import './utils/variables.css';
@import './utils/utilities.css';

body {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  overflow-x: hidden;
}
