.uppercase {
  text-transform: uppercase;
}

.text-dark {
  color: var(--dark);
}

.text-moon {
  color: var(--moon);
}

.text-light {
  color: var(--light);
}

.font-primary {
  font-family: var(--font-primary);
}

.font-secondary {
  font-family: var(--font-secondary);
}
