.bg-technology {
  background-image: url('../../assets/technology/background-technology-desktop.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#technology-content {
  display: grid;
  grid-template-columns: auto repeat(2, 1fr);
  grid-template-rows: 171px 1fr;
  margin-top: 76px;
  padding: 0 0 101px 166.5px;
}

.technology-title {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.technology-title span {
  margin-right: 15px;
  font-weight: bold;
  opacity: 0.25;
}

.technology-nav {
  grid-column: 1;
  grid-row: 2;
  margin-right: 80px;
}

.technology-nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.technology-nav-list-item {
  border: 1px solid var(--cloud);
  border-radius: 9999px;
  background-color: transparent;
}

.technology-nav-option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  color: var(--light);
}

.technology-active {
  border: 1px solid var(--light);
  background-color: var(--light);
}

.technology-active a {
  color: var(--dark);
}

.technology-info {
  grid-column: 2;
  grid-row: 2;
}

.technology-name {
  margin-top: 20px;
}

.technology-info p {
  margin-top: 17px;
  max-width: 444px;
  line-height: 32px;
}

.technology-image {
  grid-column: 3;
  grid-row: 1 / span 3;
  justify-self: end;
  align-self: flex-end;
}
